<label>Server Name</label>

<!-- $event is a reserved variable name used in the template when using event binding
	(reserved word that gives us access to the event data)
$event will simply be the data emitted with that event

<input type="text" class="form-control" (input)="onUpdateServerName($event)">
<p>{{ serverName }}</p>-->



<!-- Use ngModel directive for two-way data binding -->

<input type="text" class="form-control" [(ngModel)]="serverName">


<!-- When using the square brackets around a property, we are telling Angular
that we want to dynamically bind a property

Below here, "allowNewServer" will return true or false
We want the button disabled if new server changes are NOT allowed

Can use an expression like comparisons or a method. This example uses a boolean.-->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<!--<p [innerText]="allowNewServer"></p>
<p>{{  serverCreationStatus }}</p>-->

<!--Asterisk is required because ngIf is a structural directive,
which means it changes the structure of our DOM. It is either added, or removed.-->
<p *ngIf="serverCreated">Server was created! Server name is {{serverName}}</p>

<app-server *ngFor="let server of servers"></app-server>

<!--
	You can set an index on ngFor by using *ngFor="let server of servers; let i = index;"

-->
