<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3>App Component</h3>
			<hr>
			<!--<div app-servers></div>  ****Use this syntax for attributes-->
			<div class="app-servers"></div> <!-- Use this syntax for class names. ID's or pseudo classes are not supported -->
		</div>
		<!--<div class="col-xs-12">
			<app-success-alert></app-success-alert>
			<app-warning-alert></app-warning-alert>
		</div>-->
	</div>
</div>